@inherits AntDividerComponent
<div class="@Class" style="@Style">
    @{
        if (ChildContent != null)
        {
            <span class="@($"{prefixCls}-inner-text")">@ChildContent</span>
        }
    }
</div>