
<AntCard id="@($"components-{Component}-demo-")"
         class="@($"{Component}-demo")"
         style="margin: 20px;"
         bordered>
    <Title>
        @Title
    </Title>
    <Body>
        @Content
    </Body>
</AntCard>
@code {

    [Parameter]
    protected string Component { get; set; }
    [Parameter]
    protected string Title { get; set; }
    [Parameter]
    protected RenderFragment Content { get; set; }
    [Parameter]
    protected RenderFragment Code { get; set; }

}
