<div class="@Component-demo demo-container" id="components-@Component-demo-">
    <h3 class="@Component-demo-title">@Title</h3>
    <div class="@Component-demo-content">
        @Content
    </div>
</div>

<style>
    .demo-container {
        margin: 16px;
        padding: 16px;
        background-color: #fff;
    }
</style>

@code {

    [Parameter]
    protected string Component { get; set; }
    [Parameter]
    protected string Title { get; set; }
    [Parameter]
    protected RenderFragment Content { get; set; }
    [Parameter]
    protected RenderFragment Code { get; set; }

}but
