@inherits LayoutComponentBase
<AntLayout>
    <AntHeader>
        <a href="https://ant.design/" target="_blank">Ant Design</a>
    </AntHeader>
    <AntLayout hasSider>
        <AntSider>
            <NavMenu />
        </AntSider>
        <AntContent>
            @Body
        </AntContent>
    </AntLayout>
    <AntFooter>Footer</AntFooter>
</AntLayout>
