@inherits LayoutComponentBase
<AntLayout hasSider="true">
    <AntSider width="200px" style="background-color:#fff;">
        <NavMenu />
    </AntSider>
    <AntLayout>
        <AntHeader>
            <a href="https://ant.design/" target="_blank">Ant Design</a>
        </AntHeader>
        <AntContent>
            @Body
        </AntContent>
        <AntFooter>Ant Design for Blazor</AntFooter>
    </AntLayout>
</AntLayout>
