@namespace AntDesign
@inherits AntButtonComponent

<button class="@Class" style="@Style" @onclick="@OnClickHandler" disabled=@Disabled>
    @{
        if (Loading)
        {
            <AntIcon Type="loading"></AntIcon>
        }
    }
    <span>@ChildContent</span>
</button>

@code {

}
