@inherits AntButtonComponent
@using AntDesign.Icon

<button class="@ClassNames.Class" style="@Style" @onclick="@OnClickHandler" disabled=@Disabled>
    @{
        if (Loading)
        {
            <AntIcon Type="loading"></AntIcon>
        }
    }
    <span>@ChildContent</span>
</button>

@code {

}
