@inherits AntButtonComponent
@using AntDesign.Icon

<button class="@ClassNames.Class" style="@Style">
    @{
        if (Loading)
        {
            <AntIcon Type="loading"></AntIcon>
        }
    }
    @ChildContent
</button>

@code {

}
