@namespace AntDesign
@inherits AntCheckboxGroupComponent

<div class="@Class" style="@Style">
    @if (AllOptions.Count > 0)
    {
        foreach (var option in AllOptions)
        {
            <AntCheckbox>@option.label.Value</AntCheckbox>
        }
    }
</div>
