@page "/button"

<h3>ButtonDemo</h3>


<AntButton>
    Default
</AntButton>

<AntButton Type="@AntButtonType.Primary">
    Primary
</AntButton>

<AntButton Type="@AntButtonType.Dashed">
    Dashed
</AntButton>

@code {

}
