@page "/grid"

<h3>GridDemo</h3>
<style>
    .ant-col {
        min-height: 30px;
        margin-top: 8px;
        margin-bottom: 8px;
        padding: 16px;
        color: #fff;
        text-align: center;
        border-radius: 0;
        background: #00a0e9;
    }
</style>


<AntRow>
    <AntCol Span="12">
        col-12
    </AntCol>
    <AntCol Span="12">
        col-12
    </AntCol>
</AntRow>

@code {

}
