@page "/input"
<DemoContainer Component="input" Title="Input">
    <Content>
        <AntInput/>
    </Content>
</DemoContainer>


<DemoContainer Component="input" Title="Input size">
    <Content>
        <div className="example-input">
            <AntInput size="large" placeholder="large size" />
            <AntInput placeholder="default size" />
            <AntInput size="small" placeholder="small size" />
        </div>
    </Content>
</DemoContainer>


<DemoContainer Component="input" Title="Input addon">
    <Content>
       <div style="margin-bottom: 16px;">
      <AntInput addonBefore="Http://" addonAfter=".com"  />
    </div>
    </Content>
</DemoContainer>
