@page "/input"
<DemoContainer Component="input" Title="Input">
    <Content>
        <AntInput />
    </Content>
</DemoContainer>


<DemoContainer Component="input" Title="Input size">
    <Content>
        <div className="example-input">
            <AntInput size="large" placeholder="large size" />
            <AntInput placeholder="default size" />
            <AntInput size="small" placeholder="small size" />
        </div>
    </Content>
</DemoContainer>


<DemoContainer Component="input" Title="Input addon">
    <Content>
        <div style="margin-bottom: 16px;">
            <AntInput>
                <AddonBefore>
                    http://
                </AddonBefore>
                <AddonAfter>
                    .com
                </AddonAfter>
            </AntInput>
        </div>
        <div style="margin-bottom: 16px;">
            <AntInput>
                <AddonAfter>
                    <AntIcon type="setting" />
                </AddonAfter>
            </AntInput>
        </div>
        <AntInput placeholder="Enter your username">
            <Prefix>
                <AntIcon Type="user" style="color: rgba(0,0,0,.25)" />
            </Prefix>
            <Suffix>
                <AntIcon Type="info-circle" style="color: rgba(0,0,0,.45)" />
            </Suffix>
        </AntInput>

    </Content>
</DemoContainer>


<DemoContainer Component="input" Title="Search Input">
    <Content>
        <AntSearch placeholder="input search text" />
        <AntSearch placeholder="input search text" enterButton />
        <AntSearch placeholder="input search text" enterButtonText="Search" size="large" />
    </Content>
</DemoContainer>


<DemoContainer Component="input" Title="Password Input">
    <Content>
        <AntInputPassword placeholder="input password" />
        <AntInputPassword placeholder="input password" visibilityToggle="false" />

    </Content>
</DemoContainer>



<DemoContainer Component="input" Title="TextArea">
    <Content>
        <AntTextArea placeholder="input password" />
    </Content>
</DemoContainer>
