@page "/input"
<DemoContainer Component="input" Title="Input">
    <Content>
        <AntInput/>
    </Content>
</DemoContainer>
<DemoContainer Component="input" Title="Input">
    <Content>
        <div className="example-input">
            <AntInput size="large" placeholder="large size" />
            <AntInput placeholder="default size" />
            <AntInput size="small" placeholder="small size" />
        </div>
    </Content>
</DemoContainer>

