@page "/tag"
<DemoContainer Component="tag" Title="Tag">
    <Content>
        <div>
            <AntTag>Tag 1</AntTag>
            <AntTag>
                <a href="https://github.com/ant-design/ant-design/issues/1862">Link</a>
            </AntTag>
            <AntTag closable>
                Tag 2
            </AntTag>
            <AntTag closable>
                Prevent Default
            </AntTag>
        </div>
    </Content>
</DemoContainer>
<DemoContainer Component="tag" Title="Tag">
    <Content>
        <div>
            <AntTag color="magenta">magenta</AntTag>
            <AntTag color="red">red</AntTag>
            <AntTag color="volcano">volcano</AntTag>
            <AntTag color="orange">orange</AntTag>
            <AntTag color="gold">gold</AntTag>
            <AntTag color="lime">lime</AntTag>
            <AntTag color="green">green</AntTag>
            <AntTag color="cyan">cyan</AntTag>
            <AntTag color="blue">blue</AntTag>
            <AntTag color="geekblue">geekblue</AntTag>
            <AntTag color="purple">purple</AntTag>
        </div>
        <h4 style=" margin: 16px 0">Custom:</h4>
        <div>
            <AntTag color="#f50">#f50</AntTag>
            <AntTag color="#2db7f5">#2db7f5</AntTag>
            <AntTag color="#87d068">#87d068</AntTag>
            <AntTag color="#108ee9">#108ee9</AntTag>
        </div>
    </Content>
</DemoContainer>
