@namespace AntDesign
@inherits AntTagComponent

<div class="@Class" style="@TagStyle">
    @ChildContent
    @if (closable)
    {
        <AntIcon Type="close" onclick="@OnClickHandler"/>
    }
</div>